@model IEnumerable<Enquiry>

@{
    ViewData["Title"] = "Period Report";
    ViewData["ActivePage"] = "Reports";    
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-bd ">
            <div class="panel-heading">
                <div class="btn-group" id="buttonlist">
                    Period Report
                </div>
            </div>
            <div class="panel-body">
                <form class="col-sm-12">
                    <div class="col-sm-4 form-group" style="margin-left: -15px;">
                        <label>Select From Date</label>
                        <input id="txtFDate" type="date" class="form-control" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Select To Date</label>
                        <input id="txtTDate" type="date" class="form-control" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <a href="javascript:;" style="margin-top: 24px;" onclick="getReport()" class="btn btn-primary">Get Report</a>
                    </div>

                    <table class="table table-bordered table-striped example">
                        <thead>
                            <tr class="info">
                                <th>App No</th>
                                <th>Sales Rep Id</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Mobile No</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.EmpCode</td>                                                                                                     
                                    <td>@item.FullName</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.CreatedDate.ToString("dd MMM yyyy hh:mm tt")</td>
                                    <td>
                                        <a asp-controller="Enquiry" asp-action="Details" 
                                        asp-route-id="@item.Id" class="btn btn-primary" title="Delete Record">
                                            <i class="fa fa-eye"></i>
                                        </a>                                  
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        function getReport()
        {
            var fdate = $("#txtFDate").val();
            var tdate = $("#txtTDate").val();
            
            if(fdate=="" || fdate === undefined || fdate == null)
            {
                alert('Please enter from date to fetch report.');
                return false;
            }

            if(tdate=="" || tdate === undefined || tdate == null)
            {
                alert('Please enter to date to fetch report.');
                return false;
            }

            window.location = "/Reports/Period?fromdate=" + fdate + "&todate=" + tdate;
        }
    </script>
}